**/__pycache__
*.pyc
*.pth
*vscode
**/build
evaluate 
*.pt
*.png
**/build
**/dist
**/*egg-info
*.lprof
weights
/datasets
*.onnx
*.trt
*.trt8
*.trt10
*.mp4
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
experiments/
**/PKG-INFO
**/SOURCES.txt
predictions.pkl
tensorboard/
anno_cache/
cache/
